div.search_container {
  position: fixed;
  z-index: 4;
  height: 100vh;
  width: 100vw;
  background: #323140;
  background: url('../images/snow.jpg'), rgba(0, 0, 0, 0.37);
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  top: 0;
}
div.search_container form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
  margin-top: 30px;
  /* background: green;  */
}

div.search_container h2 {
  color: rgb(48, 46, 46);
}
div.search_container input,
div.search_container button {
  border: 0;
  outline: none;
  height: 2.4em;
}
div.search_container input {
  width: 70%;
  border-radius: 10px 0 0 10px;
  padding: 0 10px;
  position: relative;
}
/* div.search_container form::before{
  content: ' Please  Searc for something that you like ';
  background: white;
  color: black;
  position: absolute;
  margin-bottom: 100px;
  padding: 10px;
  border-radius: 20px;
  
} */
div.search_container form button {
  border-radius: 0 10px 10px 0;
  padding: 0 10px;
  background: rgb(27, 45, 207);
  color: white;
}
div.search_container #close {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1%;
}
div.search_container .suggestion_box {
  position: absolute;
  background: white;
  color: black;
  width: 70%;
  bottom: 0;
  top: 80%;
  height: 100px;
  overflow: auto;
  left: 7%;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.13);
  display: none;
}
p.error {
  color: red;
}
div.search_container ul {
  text-align: left;
}
div.search_container ul li {
  padding: 0 20px;
  height: 25px;
  border-bottom: 1px solid rgba(17, 17, 17, 0.164);
}
@media (min-width: 500px) {
  div.search_container form {
    width: 50%;
  }
  div.search_container .suggestion_box {
    top: 0%;
    left: 11%;
  }
}
p.online_checker {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, 0%); */
  color: red;
  z-index: 10000;
}
